<!DOCTYPE html>
<html lang="en">

<head>
	<title>NewsTalk</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/public/assets/css/style.css" media="screen" title="no title" charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/cerulean/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-62+JPIF7fVYAPS4itRiqKa7VU321chxfKZRtkSY0tGoTwcUItAFEH/HGTpvDH6e6" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Oxygen+Mono" rel="stylesheet">
</head>

<body>
	{{{ body }}}


	<footer class="stocksFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="blue-text text-darken-4 left">© 2019 News Talk</span>
				<a class="red-text text-darken-2 right" href="https://github.com/MarkHays/NewsTalk">Github</a>
			</div>
		</div>
	</footer>
</body>

</html>